/* Assurez-vous que le body et html occupent toute la hauteur de l'écran */
html, body {
  height: 100%;
  margin: 0;
}

/* La mise en page Flexbox, avec une colonne verticale */
.d-flex {
  display: flex;
  flex-direction: column;
}

/* Min-height pour que l'application prenne toute la hauteur de la fenêtre */
.min-vh-100 {
  min-height: 100vh; /* Assure que l'écran prend toute la hauteur de la fenêtre */
}

/* Assurer que le contenu prenne toute la place restante dans le Flexbox */
.flex-grow-1 {
  flex-grow: 1;
}

/* Style de base pour le footer */
footer {
  background-color: #343a40; /* Fond sombre */
  color: white; /* Texte en blanc */
  text-align: center; /* Texte centré */
  padding: 10px 0; /* Un peu d'espace autour du texte */
}
